<h1> <%= @flat["name"] %> </h1>
<h2> <%= @flat["price"] %> <%= @flat["priceCurrency"] %> </h2>

<img style="width: 60%; height: 400px; margin: 0 200px;" src=" <%= @flat['imageUrl'] %> " alt="">


<%= link_to "Go back", flats_path %>
